/*CSS reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #EAEDED;
    margin: 0;
}

/* HEADER*/
#header {
    background-color: #222F3E;
    margin-bottom: 20px;
}

.logo {
    width: 100px;
    padding-left: 30px;
    padding-top: 15px;
}

.nav {
    background-color: #354758;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
}

.nav ul li {
    display: inline-block;
}

.nav ul li a {
    padding: 5px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    /*link no sottolineato*/
}

/* MAIN */
#main {
    padding: 0 30px 0 30px;
    margin-bottom: 20px;
}

/*striscia arancione*/
.strip {
    background-color: #F56600;
    height: 35px;
    margin-bottom: 20px;
    position: relative;
}

.strip-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.strip-text span {
    color: white;
    font-size:larger;
}

.banner {
    background-image: url(assets/bg-image.png);
    height: 180px;
    position: relative;
    margin-bottom: 20px;
}

/*banner holiday*/

.banner-text {
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

/*raccomandati*/

.recom {
    background-color: white;
    padding-bottom: 10px;
    margin-bottom: 30px;
    
}

.recom-text {
    text-align: left;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.recom-text span {
    display: inline-block;
    
}

.recom-text h2 {
    font-weight: lighter;
}

.recom-text a {
    color: #017185;
    font-weight: 800;
    text-decoration: none;
}

.recom-img {
    text-align: center;
}


.recom-img img {
    display: inline-block;
    width: 300px;
    height: 300px;
    box-shadow: #DDE1E4 8px 5px 10px;
    border-radius: 30px;
    
}

/*categorie in evidenza*/

.evi-cat img {
    height: 100%;
    width: 100%;
}

.evi-cat h2{
    font-weight: 500;
}

.evi-cat a {
    font-weight: 800;
    color: #017185;
    text-decoration: none;
}

.evi-cat {
    text-align: center;
}

.evi-cat span{
    display: inline-block;
    padding-bottom: 30px;
}

/*EXTRA*/

.extra-box{
    background-color: white;
    margin-top:20px;
    margin-left: 10px;
    display: inline-block;
    max-width: 24%;
    text-align: center;
}

.extra-box h2{
    padding-top:20px;
    padding-bottom: 20px;
}

.extra-articles{
    padding-top:5px;
    padding-bottom:10px;
}

.extra-row {
    max-width: 49%;
    display: inline-block;
}


.extra-box a{
    text-decoration: none;
    color: #017185;
    font-size: 13pt;
    font-weight: bold;
}

.more{
    padding-bottom: 20px;
}

.extra-articles img{
    max-width: 49%;
}



/*FOOTER*/

#footer{
    background: #222F3E;
    text-align: center;
}

.back-strip {
    background-color: #354758;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.back-strip a {
    font-size: large;
    color:white;
}

.footer-logo {
    padding-top:45px;
    padding-bottom:35px;
    display: inline-block;
    width: 150px;

}
